{% extends 'basic.html' %}
{% block title %} Project {% endblock title %}
{% block body %}
{% load static %}
<!-- ======= Project Section ======= -->
<section id="project" class="project section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Project</h2>
        <p>Here is all my project work and details</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
        </div>
      </div>

      <div class="row project-container" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 project-item filter-app">
          <h2> weather App </h2>
          <div class="project-wrap">
            <img src={% static "assets/img/project/project-1.jpg" %} class="img-fluid" alt="">
            <div class="project-links">
              <a href={% static "assets/img/project/project-1.jpg" %} data-gallery="projectGallery" class="project-lightbox" title="weatherapp"><i class="bx bx-plus"></i></a>
              <a href="weather" title="More Details"><i class="bx bx-link" ></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 project-item filter-web">
          <h2>Cipher Text Converter </h2>
          <div class="project-wrap">
            <img src={% static "assets/img/project/project-2.png" %} class="img-fluid" alt="">
            <div class="project-links">
              <a href={% static "assets/img/project/project-2.png" %} data-gallery="projectGallery" class="project-lightbox" title="Cipher Text Converter"><i class="bx bx-plus"></i></a>
              <a href="ccc" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 project-item filter-app">
          <h2> Image Classifier </h2>
          <div class="project-wrap">
            <img src={% static "assets/img/project/project-3.png" %} class="img-fluid" alt="">
            <div class="project-links">
              <a href={% static "assets/img/project/project-3.png" %} data-gallery="projectGallery" class="project-lightbox" title="Image Classifier"><i class="bx bx-plus"></i></a>
              <a href="ic" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 project-item filter-card">
          <h2> Movie Recommandation System </h2>
          <div class="project-wrap">
            <img src={% static "assets/img/project/project-4.png" %} class="img-fluid" alt="">
            <div class="project-links">
              <a href={% static "assets/img/project/project-4.png" %} data-gallery="projectGallery" class="project-lightbox" title="Movie Recommandation System "><i class="bx bx-plus"></i></a>
              <a href="mrs" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 project-item filter-card">
          <h2> Shop Cart </h2>
          <div class="project-wrap">
            <img src={% static "assets/img/project/project-5.png" %} class="img-fluid" alt="">
            <div class="project-links">
              <a href={% static "assets/img/project/project-5.png" %} data-gallery="projectGallery" class="project-lightbox" title="Shop Cart"><i class="bx bx-plus"></i></a>
              <a href="shopcart" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

      </div>
  </section><!-- End project Section -->

{% endblock body %}